*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

h1{
    margin-top: 20px;
    text-align: center;
}

.gridcontainer{
    margin: 20px ;
    /* background-color: beige;
    border: 1px solid brown; */
    height: 100vh; 
    display: grid;
    grid-template-rows: repeat(3,2fr);
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
}

.box{
  /* background-color: aqua; */
  height: 100%;
  border:2px solid grey;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  /* padding-bottom: 20px; */
}

.textcontainer{
    height: 40%;
}

.blue,.green{
    font-weight: 600;
    color: blue;
}
.green{
    font-weight: 600;
    color: green;
}